<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
 </configSections>
 <system.web>
		<!-- <customErrors mode="Off"/> -->
		<compilation debug="true" targetFramework="4.7.2" />
	</system.web>
	<connectionStrings>
		<!-- <add name="conn" connectionString="Data Source=smartdev-write.mahidol;Initial Catalog=Infinity;Persist Security Info=True;User ID=MuStudent53;Password=oydL7dKk53" providerName="System.Data.SqlClient" /> -->
		<!-- <add name="conn" connectionString="Data Source=10.90.101.101;Initial Catalog=Infinity;Persist Security Info=True;User ID=MuStudent53;Password=oydL7dKk56" providerName="System.Data.SqlClient" /> -->
		<add name="conn" connectionString="Data Source=stddb2023.mahidol;Initial Catalog=Infinity;Persist Security Info=True;User ID=econtract;Password=MUIT!econtract!#2023#" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="ida:ClientId" value="497b2193-7d9a-477b-a330-6daef68acacd" />
		<add key="ida:ClientSecret" value="Iv4gS52R9YLNjn13YtSYSmE-aAHkIj6a-cfxFBrN" />
		<add key="ida:ResourceID" value="5cd1634b-0fa7-4dd1-9dad-9da0d7deb50b" />
		<add key="ida:ADFSDiscoveryDoc" value="https://idp.mahidol.ac.th/adfs/.well-known/openid-configuration" />
		<add key="ida:PostLogoutRedirectUri" value="https://econtract.mahidol.ac.th" />
	</appSettings>
	<!--
    <system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect to http" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" negate="false" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTPS}" pattern="off" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
    -->
</configuration>